

<h1>Edit {{book.title}}</h1>


<form action="" method="POST">
<p>Current Title: {{book.title}}</p>
<input type="text" name="theTitle" value="{{book.title}}">

<p>Current Author></p>
<input type="text" name="theAuthor" value="{{book.author}}">

</form>